/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font: 16px/26px 'Open Sans', Helvetica, Helvetica Neue, Arial;
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Telegram Theme
   =================== */

.main-container.account {
  background-color: #008CB8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.title {
  color: white;
}

.login-form {
  max-width: 800px;
  min-height: 450px;
  margin: 100px auto;
  background: white url('/assets/images/postmark.png') no-repeat 100% 10%;
  font-size: 13px;
}

.login-form a, .login-form button {
  color: #0084B2;
  text-decoration: none;
}

.login-form .panel {
  width: 50%;
  float: left;
  border-right: 1px solid #EEEEEE;
  min-height: 350px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.login-form .panel:last-child {
  border-right: none;
  width: 37%; /* TODO: fixme */
  display: table-cell;
  padding: 100px 50px 50px;
}

.login-form .panel.logo {
  background: white url('/assets/images/telegram-logo.png') no-repeat 50% 50%;
}

.prompt {
  font-size: 22px;
  color: #000000;
  vertical-align: middle;
  margin-bottom: 20px;
}

.login-form input {
  font-size: 13px;
  width: 100%;
  color: #000000;
  border: none;
  border-bottom: 1px solid #EEEEEE;
  display: block;
  margin-bottom: 15px;
  padding: 3px;
}

.login-form input:last-child {
  margin-bottom: 25px;
}

.login button {
  font-weight: bold;
  border: 2px solid #0084B2;
  padding: 5px 10px;
  float: left;
  background-color: white;
}

.actions {
  float: right;
}

.login-form .error {
  border: dashed black 1px;
  background-color: lightpink;
  padding: 10px;
  margin: 10px 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #000;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #000;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #000;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #e44d26;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

  /* ====================
      INTERMEDIATE: Menu
     ==================== */

  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {

  /* ====================
      WIDE: CSS3 Effects
     ==================== */

  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  /* ============
      WIDE: Menu
     ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

  /* ============
      WIDE: Main
     ============ */

  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }
}

@media only screen and (min-width: 1140px) {

  /* ===============
      Maximal Width
     =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Inherited from Dropbox
   ========================================================================== */


html,
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
.btn {
  padding: 5px 15px;
  background: white;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  line-height: 18px;
}
.blue-btn {
  padding: 5px 15px;
  background: white;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  line-height: 18px;
  color: #178db6;
  border-color: #178db6;
}
.dark-gray-btn {
  padding: 5px 15px;
  background: white;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  line-height: 18px;
  color: #666666;
  border-color: #666666;
}
.link {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}
.blue-link {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  color: #178db6;
}
.dark-gray-link {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  color: #666666;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.center-xy {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center-y {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.absolute-center-xy {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}
.absolute-center-y {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.relative-center-xy {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
}
.relative-center-y {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black;
}
.auth {
  background-color: #178db6;
  position: absolute;
  width: 100%;
  height: 100%;
}
.auth .rect {
  margin-top: 125px;
  background-color: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.auth .rect .left {
  width: 49%;
  float: left;
  border-right: 1px solid #eeeeee;
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: 35px;
  margin-bottom: 35px;
}
.auth .rect .right {
  width: 50%;
  float: right;
  height: 400px;
}
.auth .rect .right .postmark {
  margin-top: 25px;
  float: right;
}
.auth .rect .right .content {
  margin-left: 60px;
  width: 320px;
}
.auth .rect .right .content .title {
  font-size: 22px;
  color: black;
  margin-top: 60px;
}
.auth .rect .right .content .auth-form {
  margin-top: 10px;
}
.auth .rect .right .content .auth-form .auth-input {
  display: block;
  width: 100%;
  font-size: 13px;
  color: black;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
}
.auth .rect .right .content .auth-form .form-footer {
  margin-top: 20px;
}
.auth .rect .right .content .auth-form .form-footer .submit {
  float: left;
}
.auth .rect .right .content .auth-form .form-footer .alternatives {
  line-height: 30px;
  float: right;
}
.nav-bar {
  height: 50px;
  box-shadow: 0px 2px 15px 1px #ddd;
  border-bottom: 1px solid #ddd;
  min-width: 900px;
}
.nav-bar .third {
  float: left;
  width: 33.333%;
  position: relative;
  height: inherit;
}
.nav-bar .third .home {
  text-align: left;
}
.nav-bar .third .home .icon {
  margin-left: 30px;
  vertical-align: middle;
}
.nav-bar .third .home .title {
  margin-left: 5px;
  vertical-align: middle;
}
.nav-bar .third .user {
  text-align: right;
}
.nav-bar .third .user .avatar {
  height: 32px;
  width: 32px;
  vertical-align: middle;
  display: inline-block;
}
.nav-bar .third .user .avatar img {
  height: 32px;
  width: 32px;
}
.nav-bar .third .user .name {
  vertical-align: middle;
  margin-left: 5px;
}
.nav-bar .third .user .logout {
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 30px;
}
.post-block {
  padding: 15px 25px;
  border-bottom: 1px solid #eeeeee;
}
.post-block.confirm-repost {
  background-color: #eeeeee;
}
.post-block .repost-header {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.post-block .repost-header .icon {
  height: 16px;
  width: 16px;
  float: left;
  margin-left: 34px;
}
.post-block .repost-header .author {
  margin-left: 65px;
  font-size: 13px;
  color: #666666;
}
.post-block .avatar {
  float: left;
  height: 50px;
  width: 50px;
}
.post-block .avatar img {
  height: 50px;
  width: 50px;
}
.post-block .content {
  margin-left: 65px;
}
.post-block .content .author {
  font-size: 13px;
  font-weight: bold;
}
.post-block .content .text {
  margin-top: 7px;
  font-size: 13px;
}
.post-block .content .question {
  font-size: 13px;
  margin-top: 5px;
}
.post-block .content .footer {
  font-size: 11px;
  color: #666666;
  margin-top: 7px;
}
.post-block .content .footer .blue-link {
  font-size: 11px;
}
.post-block .content .footer .middot {
  padding: 0 4px;
}
.user-block {
  padding: 15px 25px;
  border-bottom: 1px solid #eeeeee;
  height: 50px;
}
.user-block .avatar {
  float: left;
  height: 50px;
  width: 50px;
}
.user-block .avatar img {
  height: 50px;
  width: 50px;
}
.user-block .name {
  float: left;
  margin-left: 15px;
  font-size: 13px;
  font-weight: bold;
}
.user-block .follow {
  float: right;
}
.dashboard {
  width: 600px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
.dashboard .create-post {
  padding: 0 25px;
}
.dashboard .create-post textarea {
  border: none;
  overflow: auto;
  outline: none;
  height: 100px;
  width: 100%;
  resize: none;
  font-size: 18px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dashboard .create-post .footer {
  margin-top: 10px;
}
.dashboard .create-post .footer .characters-left {
  color: #666666;
  float: left;
  font-size: 11px;
  line-height: 30px;
}
.dashboard .create-post .footer .publish {
  float: right;
}
.dashboard .title {
  font-size: 20px;
  color: #666666;
  text-align: center;
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.profile {
  width: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.profile .user-header {
  text-align: center;
}
.profile .user-header .avatar {
  width: 70px;
  height: 70px;
}
.profile .user-header .name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
.profile .user-header .username {
  font-size: 13px;
  margin-top: 2px;
  color: #666666;
}
.profile .user-header .follow {
  margin-top: 25px;
}
.profile .tab-header {
  text-align: center;
  margin-top: 25px;
  padding: 13px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.profile .tab-header .tab {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  color: #178db6;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0;
}
.profile .tab-header .tab.active {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  color: #666666;
  font-size: 20px;
  border-bottom: 3px solid #178db6;
}

/* ==========================================================================
   Extension of Dropbox CSS
   ========================================================================== */

.posts-list {
  clear: both;
}
.dashboard .create-post .footer .characters-left.warning {
  color: red;
}
.dashboard .create-post .footer .publish.warning {
  color: lightgray;
  border: lightgray;
}

.content .author .link {
  color: #222;
}