<div class="error-page">
  <div class="container">
    <h1>Something bad happened!</h1>

    <p>#failwhale</p>

    <img src="/assets/images/fail-whale.jpg" alt="Fail Whale"/>

    {{outlet}}
  </div>
</div>